* {margin: 0; padding: 0;}

#container {
	height: 100%; 
	width:100%; 
	font-size: 20px;
}

a{
  color:#004085;
}

#left, #right {
	display: inline-block; 
	*display: inline; zoom: 1; 
	vertical-align: top;
}

#left {
	width: 50%;
}

#right {
	width: 50%;
}

#upper {
    background-color: black;
    width:100%;
    height:40px;
  }

  #upper button {
    background-color: inherit;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    color:white;
  }

.lists {
    border-style: solid;
    border-radius: 10px;
  }

.addUser,.addRoom{
  margin-left: 5px;
  margin-top: 10px;
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-pic {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeOverlay {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeOverlay:hover,
.closeOverlay:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}