
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../img/seamless.png');
background-repeat: repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
padding-top: 7%;
height: 100%;
align-content: center;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

