.profilePicture{
    width: 320px;
    height: 320px;
    margin:auto;
    margin-top: 10%;
}
.profilePictureContainer, .userInfoContainer{
    border-style: solid grey;
    border-radius: 10px;
    height: auto;
}
.updateProfilePicture{
    width: 400px;
    height: auto;
    margin-left:75%;
    margin-bottom: 3%;   
}

#newGroupButton{
  margin-left:1%;
  vertical-align: middle;
}

#submitData{
  border-top:5px;
}

.separator {
  background-color:transparent;
  height: 20px;
}

.userInfo{
  margin-top:20%;
    font-size: 18px;

}
.userInformation{
  background: #949494;
    border-style: solid;
    border-radius: 25px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content-pic {
    background-color: #fefefe;
    margin: 15% auto;/* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .closeOverlay {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeOverlay:hover,
  .closeOverlay:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
   /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}